
<div class="container">

  <div class="row">
    <div class="col">
      <div class="main-subtitl">
        <h2>
          <span>Welcome to DnD Library</span>
        </h2>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col">
      Sed ornare efficitur magna eu fringilla. Sed et elementum turpis, vitae dapibus diam. Vivamus egestas erat sed molestie pulvinar. Fusce finibus nulla eu sem accumsan euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam cursus felis velit, non rutrum lacus venenatis sed. Phasellus eleifend libero magna, eu luctus felis tempus nec. Vivamus interdum tellus in risus accumsan, a semper nisi eleifend. Vivamus eleifend blandit risus, eget ornare massa dapibus quis.

Ut at enim risus. Mauris eu lectus fermentum, ornare massa vitae, posuere mauris. Suspendisse non vulputate augue. Curabitur ac quam luctus, fringilla ligula faucibus, euismod neque. Maecenas facilisis iaculis felis, efficitur dictum quam egestas eu. Curabitur blandit turpis vel magna luctus finibus. Vestibulum odio mauris, molestie in dolor laoreet, blandit placerat arcu. Nulla nec justo tempor, iaculis dolor nec, efficitur urna. Maecenas egestas, enim sed laoreet pellentesque, libero libero pharetra dui, id posuere enim magna non erat. Nullam suscipit commodo ex vel cursus. Mauris elementum dui a augue bibendum, eu facilisis lorem pharetra. Nam a mauris turpis.
    </div>

  </div>

  <div class="row">
    <div class="col">
      <div class="main-subtitl">
        <h2>
          <span>Welcome to DnD Library</span>
        </h2>
      </div>
    </div>
  </div>

</div>
