

<div [ngClass]="{'els-wrapper-2': scrollPosition > 300, 'els-wrapper': scrollPosition <= 300}">
  <div class="top-el">This is the top element</div>
  <div class="left-el">This is the side element</div>
  <div class="center-el">
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
    <div>This is the center element</div>
  </div>

</div>

